/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.resize_capsule::before {
  content: "";
  position: absolute;
  top: 344px;
  left: -4px;
  height: 40px;
  z-index: -10;
  width: 3px;
  background-color: black;
  border: 1px solid;
  border-radius: 30%;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined {
  padding-bottom: 4px !important;
}
.MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 5px !important;
}
